
.new_url_main{
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 4%;
}

.new_url_main > input {
    width: 35vw;
    min-width: 250px;
    height: 25px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.new_url_main > button {
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    background: #e1e1e1;
    cursor: pointer;
    border: none;

}